#foodTypes{
    list-style-type: none;
    text-align: left;
    color: rgb(238, 121, 89);
    padding-top: 5vh;
}

#menuTable{
    text-align: left;
}

.size{
    text-align: right;
}

.headers{
    padding-top: 5vh;
    text-align: left;
}

.menuRow{
    padding: 0;
}

